$primary-color: #4e94d0;
$secondary-color: #00121f;
$tertiary-color: #94adbf;

$gradient: linear-gradient(102.27deg, #00121f 46.24%, #002f50 82.8%);
$secondary-gradient: linear-gradient(102deg, rgba(0, 18, 31, 0.3) 46.24%, rgba(0, 47, 80, 0.3) 82.8%);
