@use "ColorPallet";
@use "./Index.scss";
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

* {
  font-family: "Instrument Sans", sans-serif;
}

body {
  background: ColorPallet.$gradient;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  @include Index.responsivo(Index.$tablet) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}
