.auctionMain {
  display: flex;
  flex-direction: column;
  gap: 3em;

  .auctionTitle {
    font-weight: 600;
  }

  .auctionList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 50px;
  }
}
