@use "../../assets/scss/Index.scss";

.liveAuction {
  display: flex;
  justify-content: center;
  margin-top: 13em;
}

.auctionTitle {
  font-weight: 500;
  color: Index.$tertiary-color;
}

.liveAuctionContainer {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include Index.responsivo(Index.$large-desktop) {
    align-items: center;
    gap: 2em;
  }
  .actionWrap {
    display: flex;
    gap: 4em;

    @include Index.responsivo(Index.$tablet) {
      width: 80vw;
      flex-direction: column;
    }
  }
}
