@use "../../assets/scss/Index.scss";

.liveAuction {
  display: flex;
  justify-content: center;

  .auctionTitle {
 
    font-weight: 500;
    color: Index.$tertiary-color;
  }

  .liveAuctionContainer {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .actionWrap {
      display: flex;
      gap: 2em;
    }
  }
}
