.lotesContainer{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

h2{
    text-align: center;
    margin-top: 50px;
}

.noLotes {
    text-align: center;
    margin-top: 20px;
    color: #94a3b8;
    font-size: 24px;
    font-weight: 500;
}